<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<%= csrf_meta_tag %>

<div class="container"> <!-- main container-->

  <div class="row" >     <!-- companies cards-->
    <% @companies.each do |company| %>
      <div class="col s12 m12 l4">
        <nav>
          <span style="font-size: 20px;" class="brand-logo"><%= company[:name] %></span>
        </nav>
        <div class="card">
          <div class="card-content" >

            <h6><%= company[:offer] %></h6>
            <blockquote><%= company[:description] %></blockquote>
            <h6><b>Eligible Departments</b></h6>
            <%= company[:departments] %>
            <br/>
            <% if company[:placement] %>
              <b>Placement</b>
            <% end %>
            <% if company[:placement] and company[:intern] %>
              and
            <% end %>
            <% if company[:intern]%>
              <b>Intern</b>
            <% end %>
            <p id="flash_<%=company[:u_id]%>"></p>
            <br/>
            <% if user_signed_in? %>
              <a class="waves-effect waves-light btn" id="<%= company[:u_id] %>" >Apply</a>
            <% end %>
            </div>
        </div>
      </div>
      <script>
      $(document).ready(function(){
          $("#<%= company[:u_id] %>").click(function(){
              var company_uid = "<%= company[:u_id] %>"
              var company_name = "<%= company[:name] %>"
              // var token = $('meta[name=csrf-token]').attr('content');
              submit_f(company_uid,company_name);

          });
      });
      </script>
    <% end %>
  </div>

</div>
