<!DOCTYPE html>
<html>
  <head>
    <title>Tpsw</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user.nil? %>
    	<%= link_to new_user_session_path do %>Sign in<% end %>
    <% else %>
      <%= current_user.name %><br/>
    	<%= link_to destroy_user_session_path, method: :delete do %>Sign Out<% end %>
    <% end %>
    <br/>
    <%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    <%- end -%>
    <%= yield %>
  </body>
</html>
